@import "tailwindcss";

:root {
 
  --honey: #F0D88C;
  --saffron: #e8c34a;
  --gold: #e3b726;
  --dark-golden: #a28115;

  --burnt-orange: #BA7425;
  --deep-red: #8f0000;
  --dark-maroon: #79410C;
  
  --cambridge-blue: #81c5a8;
  --lake-green: #57B28C;
  --jungle-green: #4da880;
  --forest-green: #3A7E61;

  --background-gradient: linear-gradient(90deg, var(--dark-maroon), var(--burnt-orange));
}

.gradient-text {
  background: var(--background-gradient);
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent; 
 }


html, body {
  overflow-x: hidden;
}


body {
  background: url("/gridlines-honey.png")  center center fixed;
  background-size: contain;
  font-family: var(--font-crimson-pro), sans-serif;
}

.component-box {
  background: var(--background-gradient);
}

.title {
  font-family: var(--font-cinzel), serif;
}

