@import "tailwindcss";

:root {
  --dark-maroon: #79410C;
  --burnt-orange: #BA7425;
  --honey: #F0D88C;
  --lake-green: #57B28C;
  --forest-green: #3A7E61;

  --text-gradient: linear-gradient(90deg, var(--dark-maroon) 0%, var(--burnt-orange) 100%);

}


body {
  background: url("/gridlines-honey.png") no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font-crimson-pro), sans-serif;
}

.title {
  font-family: var(--font-cinzel), serif;
}

